/* Definitions for AiL - Site based on Gumby */
@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import 'gumby/gumby';
@import 'jquery.bxslider';

$font-family:  'Source Sans Pro', sans-serif !important;
$body-font-color: #000;

$color_head: #d2dc00;
$color_one: #42abcb;
$color_two: #ff9d1e;
$color_three: #ca2162;
$color_page_bg: #ffffff;
$font_color_head: #17297c;
$color_heading: #666666;
$color_soft_margin: #c5baa6;

$header_height: 85px;
$nav_height: 40px;

$semibold: 600;

body, p, div {
  color: #000;
  font-weight: $semibold;
}

body a {
  color: $color_one;
  text-decoration: underline;
}

/* Header */
header #identity {
  height: $header_height - 5px;
  padding-top: 5px;
  background-color: $color_head;
  hgroup {
    padding-top: 0.75em;
    padding-left: 0.15em;
    max-width: 400px;
    h1 {
      width: 100%;
      font-size: 1.5em; /* 2.45em; */
      color: $font_color_head;
      /* font-weight: bold; */
      text-shadow: 0 1px 2px #181f3c, 0 1px 0 #181f3c;
      padding-bottom: 0;
    }
    h2 {
      font-size: 0.8em; /* 1.5 em */
      font-weight: $semibold;
      color: #fff;
    }
  }
  div * {
    float: left;
  }
  #direct_access {
    margin-top: 32px;
    float: right;
    li {
      border-left: 1px solid $font_color_head;
      padding: 0 0.33em;
    }
    li:nth-child(1) {
      border-left: 0;
    }
  }
  a, a:visited {
    color: $font_color_head;
    font-size: 0.75em;
    line-height: 0.9em;
    font-weight: $semibold;
    text-decoration: none;
  }
}

/* Top Menu
*  override Gumby's way of using the height property and restricting overflows
*  to enable a three-level navigation menu */
#main_nav.navbar {
  background-color: $color_one;
  min-height: $nav_height;
  margin: 0;
  > ul {
    margin-left: 5%;
  }
  ul li {
    height: $nav_height;
    line-height: $nav_height - 2px;
    > a {
      height: $nav_height;
      line-height: $nav_height - 2px;
      border: 0;
      font-size: 0.75em;
      font-weight: $semibold;
      text-shadow: none;
      text-decoration: none;
    }
  }
  ul li a, ul li a:hover, ul li a:visited {
    color: #fff;
  }
  ul li.active a, ul li a:hover, ul li.current a,
  .dropdown ul li.active a, .dropdown ul li a:hover,
  ul li:hover > a, ul li.active > a
  {
    background-color: $color_head !important;
  }
  .dropdown {
    overflow: visible !important;
    height: auto !important;
    display: none;
    background-color: $color_one;
    border: 0;
    ul {
      padding: 0;
    }
    .dropdown {
      display: none;
      background-color: $color_one;
    }
    .subnav {
      overflow: visible !important;
    }
    ul li:hover > .dropdown {
      display: inline-block;
    }
  }
  ul li:hover > .dropdown {
    display: block;
  }
}

/* Slideshow and Picture Teasers */
section {
  .slide-caption {
    display: block;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 0.25em 0;
    font-size: 2em;
    color: #fff;
  }
}

section.slideshow,
section.teaser {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  border-bottom: 10px solid;
  .bx-wrapper {
    ul, li {
      margin: 0;
      padding: 0;
    }
    .bx-pager {
      width: 160px; /* fixed width to allow auto margin centering */
    }
  }
}
section.slideshow {
  border-bottom-color: $color_two;
  .slide-caption {
    background: transparent url('/images/ail/heading_bg.png') repeat top left;
  }
}

section.teaser {
  margin: 0 !important;
  padding: 0 !important;
  .emphasis {
    color: $color_soft_margin;
    font-weight: $semibold;
  }
  header.row {
    position: relative;
    margin-bottom: -5px;
    margin: 0 !important;
    padding: 0 !important;
    .slide-caption {
      background-color: $color_soft_margin;
    }
  }
  > div {
    font-size: 0.85em;
  }
  .twelve, .centered {
    text-align: center;
  }
  div.columns {
    margin: 1.5em 0;
  }
}
section.slideshow + section.teaser,
section:nth-of-type(2).teaser,
section:nth-of_type(6).teaser {
  border-bottom-color: $color_three;
}
section:nth-of-type(3).teaser,
section:nth-of-type(7).teaser {
  border-bottom-color: $color_head;
}
section:nth-of-type(4).teaser,
section:nth-of-type(8).teaser {
  border-bottom-color: $color_one;
}
section:nth-of-type(5).teaser,
section:nth-of-type(9).teaser {
  border-bottom-color: $color_two;
}

section.slideshow + section.teaser {
  border-bottom-color: #ca2162;
}

/* Second Level Pages */
.bereichslayout {
  section.slideshow {
    header {
      margin-bottom: -7px;
    }
  }
}