.page-header
  %h4= t('.title')

%div{data: {copy: :slug}}
  = comfy_form_for @page, :as => :page, :url => {:action => :create}, :html => {:multipart => true}, type: :vertical do |form|
    = render form