#main_nav%div.row.navbar.pretty
  %a.toggle{gumby: {trigger: "#main_nav > ul"}, href: '#'}
    %i.icon-menu
  %ul
    - @cms_site.pages.root.children.published.each do |page|
      %li
        = link_to page.label, page.full_path, class: (@cms_page.slug == page.slug) ? 'active' : ''
          - unless page.children.published.empty?
            %ul.subnav
              - page.children.published.each do |subpage|
                %li
                  = link_to subpage.label, subpage.full_path, class: (@cms_page.slug == page.slug) ? 'active' : ''