<% nav_root = defined?(param_1) ? Cms::Page.find_by_slug(param_1) : @cms_site.pages.root %>
<% dom_id = defined?(param_2) ? param_2 : '' %>
<% pages = nav_root.children.published %>
<% unless nav_root.nil? %>
<nav id="<%= dom_id %>" class="nav">
  <% unless pages.empty? %>
  <ul>
    <% pages.each do |page| %>
    <li class="<%= (@cms_page == page) ? 'active' : '' %>">
      <%= link_to page.label, page_path(page) %>
    </li>
    <% end %>
  </ul>
  <% end %>
</nav>
<% end %>