= comfy_form_for @site, as: :site, url: {action: :update}, type: :vertical do |form|
  = render form

- if request.xhr?
  = content_for_ajax :top do
    = render :partial => 'layouts/admin/cms/topnav'